- if @tracks
  - @tracks.each do |track|
    %div 
      %div
        %p
          %strong
            = track.name
          = 'by'
          = track.artist
        %audio{ controls: true }
          %source{ src: track.preview_url, type: 'audio/mp4' }
      = link_to 'Add Song', tracks_path(name: track.name, artist: track.artist, adam_id: track.adam_id, preview_url: track.preview_url), |
        method: 'POST', remote: true
- else
  %p No tracks found
