%div(class="container-center") 
    %h1 Drop that beat is a music quiz game that allows you to play online with other players or your friends
    = link_to new_user_session_path do
        %button New Game
    %div(class="landing-images")
        = image_tag '/girl-listening-music.svg', alt: '', height: '', width: '', class: ''
        = image_tag '/girl-recording.svg', alt: '', height: '', width: '', class: ''
        = image_tag '/boy-dj.svg', alt: '', height: '', width: '', class: ''
