@import './variables';

body,
a,
button {
  font-family: $primary-font;
}

body {
  background-color: #008080;
  color: $white;
  font-weight: $medium;
  height: 100vh;
}

a {
  color: $white;
  text-decoration: none;
}
.bg-primary {
  background-color: $primary-color !important;
}

.bg-gray {
  background-color: $gray;
}

.text-primary {
  color: $primary-color !important;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #ff805a;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

// Header
.navbar-collapse,
.dropdown-menu {
  text-align: center;
}

.dropdown-menu a {
  color: $primary-color !important;
  &:hover {
    color: $white !important;
    background-color: $gray !important;
  }
}

.active {
  border-bottom: 2px solid $secondary-color;
}

.border-left-secondary {
  border-left: 8px solid $secondary-color;
}
#room_playlist {
  margin-top: 4.9rem;
}
#rooms_form {
  margin-top: 3.3rem;
  @media (min-width: 992px) and (max-width: 1172px) {
    input[type='submit'] {
      font-size: 1rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-4_5 {
    flex: 0 0 auto;
    width: 37.5%;
  }
}