// Color Variables
$primary-color: #008080;
$secondary-color: #FFD700;
$black: #000;
$white: #fff;
$gray: #455A64;
$blue: #0d6efd;

// Font Family
$primary-font: 'Raleway', sans-serif;

// Font Weight
$medium: 500;
$bold: 700;
$extra-bold: 800;
