@import './variables';
@import './typography';
@import './buttons';

body,
a,
button {
  font-family: $primary-font;
}

body {
  background-color: #008080;
  color: $white;
  font-weight: $medium;
  height: 100vh;
}

a {
  color: $white;
  text-decoration: none;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #ff805a;
}
