= @room.name
%button{ id: 'startGameBtn'} Start Game
= link_to 'Start game', tracks_json_path(@room), method: :get, remote: true, data: { type: 'json' }
:javascript
  let playlist = new Playlist(#{@tracks_url});
  document.addEventListener('turbolinks:load', () => {
    document.querySelector('#startGameBtn').addEventListener('click', () => playlist.play());
  })
