= @room.name
%button{ id: 'startGameBtn'} Start Game
:javascript
  let playlist = new Playlist(#{@tracks_url});
  document.addEventListener('turbolinks:load', () => {
    const startBtn = document.querySelector('#startGameBtn');
    startBtn.addEventListener('click', () => {
      playlist.play()
      startBtn.style.visibility = 'hidden';
    });
  })
