%h1{ id: 'room', data: { url: @room.id } } 
  = @room.name
%p{ id: 'test' }
%button{ id: 'startGameBtn' } Start Game
#myProgress.hide
  #myBar.hide
%h1{ id: 'question', style: 'visibility: hidden' } Guess the song:
%div{ id: 'choices' } 
  %button{ class: 'choiceBtn btn btn-primary btn-lg', style: 'display: none' } 
  %button{ class: 'choiceBtn btn btn-primary btn-lg', style: 'display: none' } 
  %button{ class: 'choiceBtn btn btn-primary btn-lg', style: 'display: none' } 
= javascript_pack_tag 'game'
:javascript
  document.addEventListener("turbolinks:load", new Game());


