%h1{ id: 'room', data: { url: @room.id } } 
  = @room.name
%p{ id: 'test' }
%button{ id: 'startGameBtn', class: 'btn btn-primary btn-lg' } Start Game
%section
  #myProgress.hide
    #myBar.hide
%section
  %h1{ id: 'question', style: 'visibility: hidden' } Guess the song:
  %h1{ class: 'd-none', data: { display: 'answer'} }
%section
  %div{ class: 'd-none d-flex flex-column', id: 'choices' } 
    %input{ type: 'radio', class: 'btn-check d-none', id: 'choice1', name: 'choice', value: '0', data: { action: 'submit', answer: 'false' }}
    %label{ for: 'choice1', class: 'choiceBtn btn btn-primary btn-lg fw-bold' }
    %input{ type: "radio", class: 'btn-check d-none', id: 'choice2', name: 'choice', value: '1', data: { action: 'submit', answer: 'false' }}
    %label{ for: 'choice2', class: 'choiceBtn btn btn-primary btn-lg fw-bold' }
    %input{ type: 'radio', class: 'btn-check d-none', id: 'choice3', name: 'choice', value: '2', data: { action: 'submit', answer: 'false' }}
    %label{ for: 'choice3', class: 'choiceBtn btn btn-primary btn-lg fw-bold' }
  %div{ class: 'd-none', id: 'endGame'}
    %p{ class: 'fw-bolder fs-3', data: { display: 'points'}}
    = link_to 'Quit Game', root_path, class:'btn btn-primary btn-lg'
= javascript_pack_tag 'game'
:javascript
  document.addEventListener("turbolinks:load", GAME.initialize(), { once: true });


