= @room.name
%button{ id: 'startGameBtn'} Start Game
#myProgress
  #myBar
:javascript
  let playlist = new Playlist(#{@tracks_url});
  document.addEventListener('turbolinks:load', () => {
    document.querySelector('#startGameBtn').addEventListener('click', () => {
      playlist.play()
      move()
     }
    );

  function move() {
  let i = 0;
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 300);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
  }
  })
