%h1{ id: 'room', data: { url: @room.id } } 
  = @room.name
%p{ id: 'test' }
%button{ id: 'startGameBtn' } Start Game
#myProgress.hide
  #myBar.hide
%h1{ id: 'question', style: 'visibility: hidden' }
%div{ id: 'choices' } 
  %button{ class: 'choiceBtn btn btn-primary btn-lg', style: 'display: none' } 
  %button{ class: 'choiceBtn btn btn-primary btn-lg', style: 'display: none' } 
  %button{ class: 'choiceBtn btn btn-primary btn-lg', style: 'display: none' } 
= javascript_pack_tag 'loader'
:javascript
  let playlist = new Playlist(#{@tracks_url});
  document.addEventListener('turbolinks:load', () => {
    document.querySelector('#startGameBtn').addEventListener('click', () => playlist.play());
  })
  function post_answers(roomId, userId, adamId, trackName) {
    $.ajax({
      type: 'POST',
      url: `/rooms/${roomId}`,
      dataType: 'json',
      data: {
        user_id: userId,
        adam_id: adamId,
        name: trackName,
      },
      success: function success(data) {
        if (data.length === 0) return;
        let isCorrect = JSON.parse(data);
        let msg = isCorrect ? 'Correct answer' : 'Incorrect answer';
        alert(msg);
        return isCorrect;
      },
      error: function error(request, errorMsg) {
        console.log(request, errorMsg);
      },
    });
  };

