@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Medium.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-ExtraBold.ttf") format("ttf");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}